body{
    font-family: 'Noto Sans', sans-serif;
    margin: 0px;
}
h4{
    font-size: 20px;
    font-weight: 600;
    position: relative;left: 20px;
}
h1{font-size: 40px;
   font-weight: bold;
   letter-spacing: 0ex;
   position: relative;left: 20px;
}
h2{
    font-size: 40px;
    font-weight: bold;
    position: relative;left: 20px
}
h3{
    font-size: 30px;
    font-weight: bold;
    position: relative;left: 20px
}
h5{font-size:25px ;
font-weight: bold;
position: relative;left: 20px;}
.lines{
    line-height: 0px;
}
#name{
    color: rgba(31, 138, 138, 0.801);
    letter-spacing: 0ex;
}
.half-area{
    width: 40%;
    float: left;
    margin: 3%;
}
.half-area img{
    width: 80%;
}
.top-part{
    border: 0px;
    background-image: url("images/topbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.bottom-part{
    border: 0px;
    background-image: url("images/bottombg.jpg");
    background-repeat: no-repeat;
    background-size:cover ;
}
section{
    height:600px ;
    width: 100%;   
}
.about{color: rgb(22, 155, 126);
font-size: 20px;}
.link-button{
    text-decoration: none;
    background-color:teal;
    color: white;
    padding:10px 20px;
    border-radius: 6px;
    font-weight: bold;
    
}
.experience{width: 80%;
}
.sametype{
    box-shadow: 10px 10px 30px darkcyan;
    padding: 10px 20px;
    height: 50%;
}
#fullstack{
    border-left: 10px solid rgb(3, 77, 77);
}
#learner{border-left: 10px solid rgb(3, 77, 77);
}

